* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Mix */
html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;

}
/* icona dei profili */
.icona-profilo {
	width: 50px;
	height: auto;
}
.icona-profilo__img {
	width: 100%;
	border-radius: 100%;
}
/* icona dei profili */

/* /Mix */

/* Layout */
.layout {
	position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
	width: 100vw;
	height: 100vh;
}
/* /Layout */
/* Layout-top */
.layout-top {
	width: 100%;
	height: 15%;
	background-color: #009688;
	color: inherit;
}
/* /Layout-top */
/* Layout-bottom */
.layout-bottom {
	width: 100%;
	height: 85%;
	background-color: #dadbd3;
	color: inherit;
}
/* /Layout-bottom */

/* Main */
.main {
	display: flex;
	width: 80%;
	height: calc(100vh - 60px);
	margin: 30px auto;
	background-color: #eaeaea;
	color: inherit;
}
/* Layout-friends */
.layout-friends {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 100%;
	background-color: #fff;
	color: inherit;
}
/* Mio profilo */
.mio-profilo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	padding: 10px;
	background-color: #eaeaea;
	color: inherit;
}
.mio-profilo__lista-icone {
	width: 100px;
	display: flex;
	justify-content: space-between;
}
.mio-profilo__icona {
	font-size: 1.5rem;
	background-color: inherit;
	color: #b1b1b1;
}
.notifiche__silenzia {
	background-color: inherit;
	color: #8edafc;
	font-size: 1.25rem;
}
/* /Mio profilo */
/* Notifiche */
.notifiche {
	display: flex;
	width: 100%;
	height: 80px;
	padding: 15px;
	background-color: #8edafc;
	color: inherit;
}
.notifiche__icona {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: auto;
	background-color: #f2fbff;
	color: inherit;
	border-radius: 50%;
}
.notifiche__silenzia {
	font-size: 1.25rem;
}
.notifiche__testo {
	margin-left: 10px;
}
.notifiche__sub-titolo {
	background-color: inherit;
	color: #52788a;
	text-decoration: underline;
}
/* /Notifiche */
/* Ricerca */
.ricerca {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 20px;
	background-color: #fff;
	color: #b7babc
}
.ricerca__icona {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: auto;
	background-color:	inherit;
	color: #b7babc;
}
.ricerca__search {
	font-size: 1.25rem;
}
.ricerca__titolo {
	font-weight: bold;
}
/* /Ricerca */
/* Amici */
.amici {
	background-color: #fff;
	height: 100%;
	color: inherit;
	overflow-y: scroll;
}
.amici__item {
	display: flex;
	align-items: center;
	width: 100%;
	height: 80px;
	padding: 10px 10px 10px 20px;
}
.amici__descrizione {
	width: 70%;
	margin-left: 15px;
}
.amici__nome {
	font-weight: normal;
	margin-bottom: 5px;
}
.amici__stato {
	font-size: 0.85rem;
	background-color: inherit;
	color: #c8cbcc;
}
.amici_ultimo-accesso {
	align-self: baseline;
	margin-top: 5px;
	font-size: 0.75rem;
	background-color: inherit;
	color: #ccced0;
	font-weight: lighter;
}
.active {
	background-color: #e9ebeb;
	color: inherit;
}
/* /Amici */
/* /Layout-friends */
/* Layout-chat */
.layout-chat {
	display: flex;
	flex-direction: column;
	width: 65%;
	height: 100%;
}
/* Chat-top */
.chat-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	border-left: 1px solid #d9d9d9;
	padding: 20px;
}
.avatar {
	display: flex;
	align-items: center;
}
.avatar-name {
	font-weight: normal;
	margin-bottom: 5px;
}
.avatar-last-access {
	font-size: 0.85rem;
	background-color: inherit;
	color: #858b8d;
}
.icone-chat__list {
	display: flex;
}
.icone-chat__list li {
	list-style: none;
	margin-left: 20px;
	font-size: 1.5rem;
  background-color: inherit;
  color: #b1b1b1;
}
/* /Chat-top */
/* Main-chat */
.main-chat{
	width: 100%;
	height: calc(100% - 140px);
	background-image: url(../img/mine.jpg);
	overflow-y: scroll;
}
.wrap-main-chat {
	width: 80%;
	margin: 20px auto;
	padding: 30px;
}
.mex-row {
	display: flex;
	margin: 15px 0;
}
.mex {
	position: relative;
  max-width: 50%;
  padding: 20px;
  border-radius: 15px;
  font-size: 15px;
  word-break: break-all;
	background-color: #fff;
	color: inherit;
}
.mex__orario {
	position: absolute;
  font-size: 10px;
  bottom: 3px;
  right: 3px;
	background-color: inherit;
	color: #bbc4ba;
}
.template, .template2 {
	display: none;
}
.mex-row--sent {
	justify-content:flex-end;
}
.mex--green {
	background-color: #d5f9ba;
	color: inherit;
}
/* /Main-chat */

/* Chat-bottom  */
.chat-bottom {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #d9d9d9;
	color: inherit;
	width: 100%;
	height: 70px;
	padding: 10px;
}
.input-text {
	width: 80%;
	height: 90%;
	background-color: #fff;
	color: inherit;
}
.input-mex {
	width: 100%;
	height: 100%;
	padding-left: 20px;
	border: none;
}
.chat-bottom, .send {
	font-size: 25px;
	font-weight: lighter;
	background-color: inherit;
	color: #8d9293;
	cursor: pointer;
}
/* /Chat-bottom  */

/* /Layout-chat */

/* /Main */
