* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* Mix */

/* /Mix */

/* Layout */
.layout {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #dadbd3;
	color: inherit;
}
/* /Layout */
/* Layout-top */
.layout-top {
	width: 100%;
	height: 140px;
	background-color: #009688;
	color: inherit;
}
/* /Layout-top */
/* Layout-main */
.layout-main {
	position: absolute;
	display: flex;
	width: 1480px;
	height: calc(100vh - 60px);
	background-color: #fff;
	color: inherit;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Layout-friends */
.layout-friends {
	width: 30%;
	height: 100%;
	background-color: red;
}
/* /Layout-friends */
/* Layout-chat */
.layout-chat {
	width: 70%;
	height: 100%;
	background-color: green;
}
/* /Layout-chat */

/* /Layout-main */
